mlflow >= 3.4
mkdocs
mkdocs-material
mkdocs-monorepo-plugin
mkdocstrings[python]
rich
black
flake8
typer
streamlit
st_pages
langchain>=0.3,<1.0
langchain-prompty>=0.1,<1.0
langchain-openai>=0.3,<1.0
langchain-community>=0.3,<1.0
openai
tiktoken
pyodbc
pip-tools
jupyter
pandas
matplotlib
scikit-learn
openpyxl
seaborn
azure-ai-formrecognizer
xlsxwriter
rapidfuzz
uvicorn
python-multipart
fastapi
python-docx
python-magic
pypandoc
./llm_utils
pytest
gradio>=5.49.1
